{
    "mvg": {
        "api_key": ""
    },
    "spotify": {
        "client_id": "",
        "client_secret": ""
    },
    "wunderground": {
        "api_key": ""
    },
    "coordinates": {
        "lat": "",
        "lng": ""
    }
}